



body {
	background-color: lightgreen;
	text-align: center;
}


.eagles {
	height: 4rem;
	background-color: green;
	padding: 1rem;
	border: 4px solid black;
	font-size: 40px;


}

.giants {
	height: 4rem;
	padding: 1rem;
	border: 4px solid black;
	font-size: 40px;
	background-color: blue;

}

.ravens {
	height: 4rem;
	padding: 1rem;
	border: 4px solid black;
	font-size: 40px;
	background-color: purple;
}



.steelers {
	height: 4rem;
	padding: 1rem;
	border: 4px solid black;
	font-size: 40px;
	background-color: goldenrod;
}

.image {
	padding: 20px;
}